{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de POP's{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar">
            <h2>Menu</h2>
            {% if user.is_authenticated %}
                <p class="text-center">Bem-vindo, {{ user.username }}!</p>
            {% endif %}
            
            <a href="{% url 'chat_page' %}" class="btn btn-primary btn-sm btn-block">CHAT</a>
            
            <!-- Dropdown para o CRUD -->
            <div class="dropdown">
                <button class="dropbtn">CRUD</button>
                <div class="dropdown-content">
                    <a href="{% url 'procedimento_list' %}">Lista de Procedimentos</a>
                    <a href="{% url 'procedimento_create' %}">Novo Procedimento</a>
                </div>
            </div>
            
            {% if user.is_authenticated %}
            <!-- Contêiner para posicionar o botão de logout no fim -->
            <div class="logout-container">
                <a href="{% url 'logout' %}" class="btn btn-danger btn-sm btn-block">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-sm btn-block">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
            {% endif %}
        
        </div>
        

        <div class="content">
            {% block content %}
            <div id="chat-container">
                <h3>Chat - Procedimentos Operacionais</h3>
                <div id="chat-box">
                    <!-- Mensagens do chat serão adicionadas aqui -->
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Digite sua mensagem..." />
                    <button>Enviar</button>
                </div>
            </div>
            {% endblock %}
        </div>
        
        
    </div>

    <footer>
        <p>&copy; 2024 POP'S. Todos os direitos reservados.</p>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
